In [23]:
import pandas as pd

telefonkunden = pd.read_csv('telefonkunden.csv')
telefonkunden.head()
#telefonkunden.shape

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3

In [24]:
# Trainings und Testdaten split

X = telefonkunden.drop(columns=['custcat'])
Y = telefonkunden.custcat
X.head
Y.head

<bound method NDFrame.head of 0      1
1      4
2      3
3      1
4      3
      ..
995    1
996    1
997    4
998    3
999    2
Name: custcat, Length: 1000, dtype: int64>

In [25]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

x_training, x_test, y_training, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1, stratify = Y)

In [26]:
from sklearn.svm import SVC 
clf = SVC(kernel='linear') 

# fitting x samples and y classes 
clf.fit(X, Y)
y_pred = clf.predict(x_test) 
print(y_pred)

[3 1 3 1 4 1 4 4 3 4 3 1 2 1 4 4 4 4 1 3 1 1 1 3 1 3 1 4 1 3 1 1 1 4 4 4 3
 1 1 2 3 3 4 4 3 4 2 3 3 1 3 4 1 4 1 1 3 4 3 1 3 2 2 1 1 3 3 1 3 3 1 2 1 4
 4 1 4 4 3 1 4 1 1 3 4 3 1 4 4 1 3 3 1 1 1 1 3 3 1 2 1 3 4 1 1 1 3 4 3 2 4
 4 2 2 2 3 4 3 2 1 2 1 3 4 3 2 2 1 3 4 3 3 3 4 1 1 4 2 4 3 1 1 3 1 2 1 4 3
 1 1 2 1 3 2 4 4 3 3 3 3 3 2 1 3 3 3 4 3 1 2 3 1 1 4 3 3 1 1 1 1 3 4 1 3 3
 4 3 1 2 1 1 1 4 3 4 1 2 3 2 1]

In [27]:
#Metrcis Library importieren
from sklearn import metrics

#Gibt die Genauigkeit des Modells aus
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.455